* {
  font-family: "Montserrat", "Times New Roman", Times, serif;
}

body {
  margin: 0;
  padding: 0;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 400px;
  background: url("https://images.unsplash.com/photo-1454496522488-7a8e488e8606?auto=format&fit=crop&q=80&w=1176&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D")
    bottom no-repeat;
  background-size: cover;
  color: white;
}

.background-tint {
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

.news{
  background-color: #fff;
  padding: 20px 0 32px;
}

.article{
  width: 768px;
  margin: 0 auto 32px;
  padding: 6px 15px;
  border-bottom: 1px solid rgb(128, 128, 128);
}

.article:nth-child(even){
  width: 768px;
  margin: 0 auto 32px;
  padding: 6px 15px;
  border-bottom: 1px solid rgb(128, 128, 128);
  background-color: #6C6F73;
}

.article:nth-of-type(-n+2) h2::before {
  content: "New ";
}

.article a{
  color: black;
  text-decoration: none;
}

.article a:hover{
  color: rgb(128, 128, 128);
  text-decoration: none;
}

.article h2{
  font-family: "Montserrat", "Times New Roman", Times, serif;
  margin-bottom: 5px;
  margin-top: 15px;
}

.article-meta{
  color: black;
  margin-bottom: 15px;
}

.article img{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.article p{
  margin-top: 15px;
}

.footer{
  padding-bottom: 30px;
  text-align: center;
}

.footer .links{
  margin-bottom: 50px;
}

.footer .links > a{
  color: black;
  padding: 0 25px;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: .1rem;
  text-decoration: none;
  text-transform: uppercase;
}

.footer .links > a:hover{
  color: rgb(128, 128, 128);
}

.copyright{
  color: rgb(0, 0, 0);
}

